
body {
  font-family:Courier;
  color: #3C5A98;
  font-size: 1.1em;
  background-color: #EFF0F1;
}

nav {
  width: 100%;
  background-color: #10375E;
  color: #EAE78A;
}

nav .title {
  font-size: 2em;
  padding: 4px 8px;
  text-shadow: 1px 1px 2px #DDD;
}

nav a {
  color: #EAE78A;
  margin: 4px;
}

ul {
  list-style: none;
}

li {
  margin-left: -30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  align-items: flex-start;
  align-content: center;
  margin: 2px;
}

.home-list, .bar-chart {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #D2D6DB;
  padding: 6px;
  margin: 3px;
  box-shadow: inset 1px 1px 2px #333;
  border-radius: 5px;
  height: 500px;
  overflow-y: auto;
}

.home-list h4 {
  font-size: 1.2em;
}

.details {
  font-weight: 600;
}

.artist-list, .album-list {
  width: 450px;
  display: inline-block;
  margin: 0px 2px;
}

.artist-list .heading, .album-list .heading {
  font-size: 1.3em;
}

.artist-list li, .album-list li {
  padding: 4px;
}

.artist, .album {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
}

.home-list {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
}

.form-label {
  display: block;
  vertical-align: top;
}

.comment-author {
  font-weight: 600;
}

.comment-time {
  font-size: .9em;
}

.comment-message {
  font-family: serif;
}

input, textarea {
  font-size: 1em;
  border-color: lightblue;
  min-width: 250px;
}

button {
  font-size: 1em;
  box-shadow: 1px 1px 1px #888;
}

button.delete-comment-button {
  background-color: #ee5645;
  color: #fff;
  font-size: .65em;
}

/* http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.bar-chart {
  width: 800px;
  overflow-x: scroll;
}

.bar-chart .heading {
  position: fixed;
  left: 50px;
  font-size: 1.5em;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
}

.axis text {
  font-size: 13px;
}

.bar {
  fill: #8CD3DD;
}

.bar:hover {
  fill: #F56C4E;
}

.label {
  fill:white;
  font-size: 16px;
  font-weight: 600;
  text-anchor: middle;
}
